.custom-file-label::after {
   content: "Selecionar";   
}

.titulo{
    color: #666;
}

.invalid-feedback{
    display: block;
}

.valid-feedback{
    display: block;
}

.btnCadastrar{
    margin-right: 5px;
}